html {
 font-size:large;
 background-color:honeydew;
}

h1 {
 border: 1rem solid;
 border-width: 0.5em;
 color:black
}


p {
 font-family: system-ui;
  font-size: medium;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 font-weight:bold;;
}

li {
  float: left;
}

li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

