html {
 font-size:large;
 background-color:azure;
}

h1 {
 border: 1rem solid;
 border-width: 0.5em;
 color:chocolate
}


p {
 font-family: system-ui;
  font-size: medium;
 color:red
}



li a {
  color: red;
  padding: 14px 16px;
  text-decoration: none;
}

